%h1= @pin.title
%p= simple_format(@pin.description)
%p
Submitted by 
= @pin.user.email
%br

= link_to "Back", root_path, class: "btn btn-sm btn-default"
= link_to "Edit", edit_pin_path, class: "btn btn-sm btn-warning"
= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are You Sure?" }, class: "btn btn-sm btn-danger"